
@mixin buttonModule() {
  font-family: $gui-font-primary;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  background: none;
  color: $gui-color-main;
  border: none;
  display: inline-block;
  border-radius: 4px;

  &.primary {
    background: $gui-color-main;
    color: $gui-color-white;
    padding: 10px 36px;

    &:not(:disabled):hover {
      background-color: $gui-color-secondary;
      cursor: pointer;
    }

    &:disabled {
      background-color: $gui-color-grey;
    }
  }
}