
.buttonPrimary {
  font-weight: 700;
  text-transform: uppercase;
  background: none;
  color: #ff7626;
  cursor: pointer;
  border: none;
  display: inline-block;
  border-radius: 4px;
}

.buttonPrimary {
  background: #ff7626;
  color: #fff;
  padding: 8px 32px;
}