@import '../../styles/gui';

.question {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 36px;
  text-align: center;
  line-height: 1.4;
  margin: 0;
  width: 100%;
  max-width: 700px;
  position: relative;

  span {
    z-index: 10;
    position: relative;
  }

  .cloudImg {
    position: absolute;
    top: 50%;

    &.bigCloudPos {
      right: 0;
      max-width: 300px;
      transform: translate(50%, -50%);
    }

    &.smallCloudPos {
      right: 0;
      max-width: 150px;
      transform: translate(50%, -50%);
    }

    &.smallCloudPosLeft {
      left: 0;
      max-width: 150px;
      transform: translate(-50%, -50%);
    }
  }
}

.answerContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  max-width: 350px;
  flex-wrap: wrap;
  justify-content: space-between;
  
  &.twoColumns {
    max-width: 725px;
  }

  .answer {
    border: 2px solid $gui-color-grey;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 10px 30px;
    text-align: center;
    display: block;
    min-width: 350px;
    font-weight: 300;
    font-size: 25px;
    transition: border-color .1s, color .1s;

    &.active,
    &:hover {
      cursor: pointer;
      color: $gui-color-main;
      border-color: $gui-color-main;
    }
  }
}

input[type=range]::-moz-range-thumb {
  height: 30px;
  width: 15px;
  border-radius: 4px;
  background-color: #000;
  cursor: pointer;
  -webkit-appearance: none;
}

.rangeAnswer {
  @mixin thumbStyle {
    height: 30px;
    width: 15px;
    border-radius: 4px;
    background-color: #000;
    cursor: pointer;
    -webkit-appearance: none;
  }

  width: 600px;
  position: relative;

  .rangeLabels {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    
    span {
      font-size: 20px;
    }
  }

  input[type=range] {
    background-color: $gui-color-main;
    border-radius: 4px;
    height: 10px;
    -webkit-appearance: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    @include thumbStyle;
  }

  input[type=range]::-moz-range-thumb {
    @include thumbStyle;
  }

  input[type=range]::-ms-thumb {
    @include thumbStyle;
  }
}

.greyedLabel {
  color: $gui-color-grey;
  font-weight: 300;
  font-size: 17px;
  margin: 20px 0;
}

.buttonsContainer {
  display: flex;
  width: 250px;
  justify-content: space-around;
}