@import '../../styles/gui';

.question {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 36px;
  text-align: center;
  line-height: 1.4;
  margin: 0;
  width: 100%;
  max-width: 700px;
}

.answerContainer {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 1024px;

  .answer {
    margin-bottom: 25px;
    margin-left: 25px;
    text-align: center;
    display: inline-block;
    width: 225px;
    font-weight: 300;
    font-size: 28px;

    &:first-child {
      margin-left: 0;
    }

    &.active,
    &:hover {
      cursor: pointer;
      color: $gui-color-main;
    }
  }
}

input[type=range]::-moz-range-thumb {
  height: 30px;
  width: 15px;
  border-radius: 4px;
  background-color: #000;
  cursor: pointer;
  -webkit-appearance: none;
}

.rangeAnswer {
  @mixin thumbStyle {
    height: 30px;
    width: 15px;
    border-radius: 4px;
    background-color: #000;
    cursor: pointer;
    -webkit-appearance: none;
  }

  width: 600px;
  position: relative;

  .rangeLabels {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
    
    span {
      font-size: 20px;
    }
  }

  input[type=range] {
    background-color: $gui-color-main;
    border-radius: 4px;
    height: 10px;
    -webkit-appearance: none;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

  input[type=range]::-webkit-slider-thumb {
    @include thumbStyle;
  }

  input[type=range]::-moz-range-thumb {
    @include thumbStyle;
  }

  input[type=range]::-ms-thumb {
    @include thumbStyle;
  }
}

.button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  font-weight: 700;

  &:disabled {
    opacity: 0.5;
  }
}