$block-width: 200px;
$block-height: 100px;
$line-height: 75px;

.box {
  height: $block-height + $line-height;

  &:last-of-type .stepContainer::before,
  &:last-of-type .stepContainer::after {
    display: none;
  }
}

.title {
  font-size: 21px;
  text-align: center;
  line-height: 1.3;
  margin: 0;
}

.box,
.stepContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepContainer {
  max-width: 400px;
  border: 4px solid #ff7626;
  flex-direction: column;
  padding: 10px;
  line-height: 1.4;

  &::before {
    content: '';
    position: absolute;
    border: 4px solid;
    border-color: #cacaca;
    border-left-color: transparent;
    border-top-color: transparent;
    width: 20px;
    height: 20px;
    bottom: -$line-height;
    transform: rotate(45deg);
  }

  &::after {
    content: '';
    background-color: #cacaca;
    position: absolute;
    width: 4px;
    height: $line-height;
    bottom: -#{$line-height + 4px};
  }
}

.answerContainer {
  display: flex;
  align-items: center;
  margin-right: 45px;

  &:last-child {
    margin-right: 0;
  }
}

.answer {
  border: 4px solid #cacaca;
  background-color: #f3f3f3;
  padding: 10px 20px;
  min-width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
    border-color: #000;
  }

  &.active {
    border-color: #ff7626;
  }
}

.button {
  display: block;
  margin: 0 auto;
  width: 100px;
  height: 30px;
  font-weight: 700;

  &:disabled {
    opacity: 0.5;
  }
}