/*
  @section: fonts
*/

@font-face { font-family: MarkPro-Light; src: url('../assets/fonts/MarkPro-Light.otf'); }
@font-face { font-family: MarkPro-Bold; src: url('../assets/fonts/MarkPro-Bold.otf'); }

$gui-font-primary: 'Lato';
$gui-font-secondary: sans-serif;

$gui-header-font-light: MarkPro-Light;
$gui-header-font-bold: MarkPro-Bold;
