@import '../../styles/gui';

.container {
  width: 100vw;
  height: 100%;
}

.chartContainer {
  height: 215px;
  width: 265px;
}

.chart {
  height: 53px;
  width: 66px;
  border: 1px solid transparent;
  border-left-color: #000;
  border-bottom-color: #000;
  position: relative;
  transform: scale(4) translate(0, 50%);
  margin: 0 auto;

  &::before {
    content: '';
    position: absolute;
  }

  &::before {
    width: 100%;
    height: 1px;
    top: 50%;
    border-top: 1px dashed #cacaca;
  }

  .curvedLine {
    position: absolute;
    width: 100%;
    height: 100%;

    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 1px;
      height: 50%;
      left: 50%;
      width: 100%;
      max-width: 125px;
    }
  
    &::before {
      top: 0;
      border-left: 1px dashed #cacaca;
      border-radius: 50% / 55px 0 0 0;
      transform: rotateY(-180deg) translateX(64px);
    }
  
    &::after {
      bottom: 0;
      border-left: 1px dashed #cacaca;
      border-radius: 0 0 0 55% / 30px;
    }
  }
}

.titleContainer {
  align-items: flex-end;

  > div:last-child {
    margin-left: 200px;
  }

  h1 {
    font-size: 34px;
    line-height: 1.4;

    p {
      color: $gui-color-main;
    }
  }

  .subTitle {
    display: block;
    font-size: 22px;
    font-weight: 700;
  }
}

@keyframes pulsate {
  0% {transform: scale(0.05, 0.05); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {transform: scale(0.8, 0.8); opacity: 0.0;}
}

.yourPosition {
  width: 1px;
  height: 1px;
  position: absolute;
  background-color: #ff7626;
  border-radius: 50%;
  transform: scale(1.5);

  &::before {
    content: '';
    border: 0.5px solid #ff7626;
    border-radius: 50%;
    height: 2px;
    width: 2px;
    position: absolute;
    left: -1px;
    top: -1px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0
  }
}

.label {
  position: absolute;
  text-transform: uppercase;
  color: #cacaca;
  font-weight: 300;
  font-size: 12px;

  &.c {
    left: 11px;
    top: 5px;
  }

  &.d {
    top: 4px;
    left: 47px;
  }

  &.a {
    left: 11px;
    top: 31px;
  }

  &.b {
    left: 46px;
    top: 31px;
  }
}

.informationContainer {
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;

  .column {
    width: 50%;
    padding: 0 0 25px 25px;
  }

  h2 {
    margin-bottom: 10px;

    &:first-letter {
      color: #cacaca;
    }
  }

  ul {
    list-style-type: none;
    padding-left: 28px;

    li {
      line-height: 1.6;
      font-size: 14px;
    }
  }
}

.answers {
  margin-left: 200px;

  h2 {
    margin-bottom: 20px;
  }

  p {
    line-height: 1.8;
    color: $gui-color-grey-secondary;    
    font-size: 12px;
    font-weight: 300;

    b {
      color: #000;
    }
  }
}

.row {
  display: flex;
  width: 1024px;
  margin: 50px auto 0 ;

  > div:first-child {
    width: 265px;
  }
}